*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.container{
    max-width: 1440px;
    margin: 0px auto ;
    background-color:whitesmoke;
    height: 100vh;
  
}
.header{
    text-align: center;
    padding-top: 20px;
    line-height: 1.6;
    font-size: 30px;
    color: gray;
}
.title-2{
    font-weight: bolder;
    color: black; }

.p{
    font-size: 13px;
}
    .all-card{
display: grid;
grid-template-columns: repeat(3,0.65fr);
grid-template-rows:repeat(4,1fr) ;

margin: 100px auto;
max-width: 900px;
grid-gap: 40px;


}
.supervisor{
grid-column: 1/2;
grid-row: 2/4;
box-shadow: 0px 0px 10px rgb(160, 160, 160);
border-top: 3px solid hsl(180, 62%, 55%);

}
.team-builder{
    grid-column: 2/3;
    grid-row: 1/3;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
    border-top: 3px solid hsl(0, 78%, 62%);
    

}
.karma{
    grid-column: 2/3;
    grid-row: 3/5;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
    border-top: 3px solid hsl(34, 97%, 64%);

    

}
.calculator{
    grid-column: 3/4;
    grid-row: 2/4;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
border-top: 3px solid hsl(212, 86%, 64%);
    

}
.card{
    background-color: white;
    padding: 15px;
    max-width: 312PX;
}
img{
    float: right;
    width: 50px;
}
p{
    color: rgba(161, 159, 159, 0.856);
}
@media screen and (max-width:375px) {
    body {
        max-width: 342px;
        margin: 0 auto;
        background-color: whitesmoke;
    }
    .header {
        font-size: 20px;
    }
    .p {
        font-size: 10px;
    }

    .all-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card{
        max-width: 260px;
        margin-bottom: 20px;
    }
    img{
        margin-top: 30px;
        margin-bottom: 10px;
    }

}
